legacy-peer-deps=true
save-exact=true
engine-strict=false
prefer-offline=true
audit=false
fund=false
progress=false
loglevel=error
shrinkwrap=false
optional=false
save-dev=false

cache=/tmp/npm-cache
prefer-dedupe=true
legacy-bundling=false
global-style=false
