:root {
  --variable-collection-color: rgba(153, 8, 0, 1);
  --variable-collection-color-2: rgba(29, 29, 29, 1);
  --variable-collection-color-3: rgba(31, 0, 94, 0.5);
  --variable-collection-DUBAI-HOVER: rgba(20, 59, 88, 0.5);
}

.hospital-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.hospital-icons .hospital-instance {
  height: 37.64px !important;
  margin-top: -6.12px !important;
  position: relative !important;
  width: 37.64px !important;
}

.hospital-icons .text-wrapper {
  color: #000000;
  font-family: "Istok Web-Regular", Helvetica;
  font-size: 15.6px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: -5.48px;
  margin-left: -6.91px;
  margin-right: -6.91px;
  position: relative;
  width: fit-content;
}

.hospital-icons .icon-instance-node {
  height: 36px !important;
  position: relative !important;
  width: 36px !important;
}

.hospital-icons.default {
  align-items: flex-start;
  background-color: #252525cc;
  border-radius: 33px;
  gap: 10px;
  height: 66px;
  padding: 15px;
  width: 66px;
}

.hospital-icons.variant-2 {
  align-items: center;
  background-color: #ffffffb2;
  border-radius: 46px;
  gap: 2.79px;
  height: 92px;
  padding: 20.91px;
  width: 92px;
}
